{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'app.title.login'|trans }}{% endblock %}

{% block body %}
    {% if error %}
        {% include 'includes/_alert.html.twig' with {'type': 'danger', 'message': error.messageKey|trans(error.messageData, 'security')} %}
    {% endif %}

    <h1 class="">{{ 'app.login.header'|trans }}</h1>

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email, {'attr': {'value': last_username}}) }}
        {{ form_row(loginForm.plainPassword) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="">
            <label>
                <input type="checkbox" name="_remember_me"> {{ 'app.login.remember_me'|trans }}
            </label>
        </div>

        <button class="" type="submit">
            {{ 'app.login.sign_in'|trans }}
        </button>
    {{ form_end(loginForm) }}
{% endblock %}
