{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block main_style %}
    color: rgb(243, 244, 246);
{% endblock %}

{% block body %}
    {% if app.session is not null and app.session.started %}
        {% set flash_messages = app.session.flashbag.all %}

        {% if flash_messages|length > 0 %}
            <div id="flash-messages">
                {% for label, messages in flash_messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            {{ message|trans|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <nav class="navbar">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('public/build/images/dronteh_logo.png') }}" alt="dronteh_logo" width="80px" />
        </a>
        <ul class="links">
            <li>
                <a href="{{ path('app_home') }}">
                    Home
                    <hr />
                </a>
            </li>
            <span></span>
            <li>
                <a href="{{ path('app_specializations') }}">
                    Our specializations
                    <hr />
                </a>
            </li>
            <span></span>
            <li>
                <a href="{{ path('app_team') }}">
                    Our team
                    <hr />
                </a>
            </li>
        </ul>

        <div class="space-x-2">
            <a class="button" href="{{ path('app_login') }}">
                <i class="fa-solid fa-arrow-right-to-bracket mr-1 text-gray-300"></i>
                Log in
            </a>
            <a class="button" href="{{ path('app_register') }}">
                <i class="fa-solid fa-user-plus mr-1 text-gray-300"></i>
                Register
            </a>
        </div>

        <button class="language-picker" data-dropdown-toggle="language-picker">
            {% set locale = app.request.attributes.get('_route_params')['_locale'] %}
            {% set flagCode = flagCode(locale) %}
            {{ flagCode }}

            <ul id="language-picker" class="hidden">
                {% set queryParams = app.request.requestUri|split('/?') %}
                {% set queryParams = queryParams|length  > 1 ? '?' ~ queryParams[1] : '' %}

                {% for supportedLocale in supportedLocales|split('|') %}
                    {% set supportedLocaleTrans = 'admin.locales.'~supportedLocale %}
                    {% set flagCode = flagCode(supportedLocale) %}

                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), {_locale: supportedLocale})~queryParams }}">
                            <img alt="{{ flagCode~'.png' }}" src="{{ asset('bundles/easyadmin/images/flags/' ~ flagCode ~ '.png') }}" width="30px">
                            {{ supportedLocaleTrans|trans({}, 'admin') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </button>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}
