{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'app.reset_password.check_email.title'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'app.reset_password.check_email.paragraph1'|trans(resetToken.expirationMessageData) }}
    </p>
    <p>
        {{ 'app.reset_password.check_email.paragraph2'|trans }} <a href="{{ path('app_forgot_password_request') }}?locale={{ app.request.getLocale() }}">{{ 'app.reset_password.check_email.try_again'|trans(resetToken.expirationMessageData) }}</a>.
    </p>
{% endblock %}
