{% trans_default_domain 'mails' %}

<h1>{{ 'mails.reset_password.header'|trans({'%name%': name}) }}</h1>

<p>{{ 'mails.reset_password.content'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}?locale={{ app.request.getLocale() }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'mails.reset_password.expires_in'|trans(resetToken.expirationMessageData) }}</p>

<p>{{ 'mails.cheers'|trans }}</p>
