{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'app.reset_password.reset.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.reset_password.reset.header'|trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'app.reset_password.reset.button'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
