{% extends '@!EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    {% set entityName = entity.getName() %}

    {% if entityName == 'Reservation' %}
        <div id="map" class="my-3 shadow-sm" data-latlng="{{ entity.getInstance().getGpsCoordinates()|join(';') }}"></div>
    {% endif %}

    {% block detail_fields %}
        {% set form_panel_is_already_open = false %}
        {% for field in entity.fields %}
            {% set is_form_field_panel = 'field-form_panel' in field.cssClass %}

            {% if is_form_field_panel or (loop.first and not is_form_field_panel) %}
                {% if form_panel_is_already_open %}
                    {{ _self.close_form_field_panel() }}
                    {% set form_panel_is_already_open = false %}
                {% endif %}

                {{ _self.open_form_field_panel(is_form_field_panel ? field : null) }}
                {% set form_panel_is_already_open = true %}
            {% endif %}

            {% block detail_field %}
                {% if not is_form_field_panel %}
                    {{ _self.render_field(entity, field) }}
                {% endif %}
            {% endblock %}
        {% endfor %}

        {{ _self.close_form_field_panel() }}
    {% endblock %}

    {% set entityInstance = entity.getInstance() %}
    {% set can_undelete = entityInstance.setIsDeleted() is defined %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { can_undelete }, with_context = false) }}
    {% endblock delete_form %}

    {% if can_undelete and entityInstance.isDeleted() %}
        {% block undelete_form %}
            {{ include('@EasyAdmin/crud/includes/_undelete_form.html.twig', {}, with_context = false) }}
        {% endblock undelete_form %}
    {% endif %}

    {% if entityName == 'Reservation' %}
        {% block set_time_form %}
            {{ include('@EasyAdmin/crud/includes/_set_time_form.html.twig', { set_time_form }, with_context = false) }}
        {% endblock set_time_form %}
    {% endif %}
{% endblock %}
