{% extends '@!EasyAdmin/crud/edit.html.twig' %}
{% trans_default_domain 'admin' %}

{% block main %}
    <div class="edit-wrapper">
        {% set timeField = null %}
        {% set isDeletedField = null %}

        <div class="timestamp-wrapper">
            {% for field in entity.fields %}
                {% set propertyName = field.getProperty() %}
                {% set fieldValue = field.getValue() %}

                {% if propertyName == 'created_at' %}
                    {% set createdAt = fieldValue %}

                    <div>
                        <span>{{ 'admin.list.created_at'|trans }}: </span>
                        {{ include('@EasyAdmin/crud/field/datetime.html.twig', { field, entity }, with_context = false) }}
                    </div>
                {% elseif propertyName == 'updated_at' %}
                    <div>
                        <span>{{ 'admin.list.updated_at'|trans }}: </span>
                        {{ createdAt < fieldValue ? include('@EasyAdmin/crud/field/datetime.html.twig', { field, entity }, with_context = false) : 'admin.list.not_updated'|trans }}
                    </div>
                {% endif %}

                {% if entity.getName() == 'Reservation' and propertyName == 'time' %}
                    {% set timeField = 'not_set' %}

                    {% if fieldValue %}
                        {% set timeField = field %}
                    {% endif %}
                {% endif %}

                {% if propertyName == 'is_deleted' %}
                    {% set isDeletedField = 'not_deleted' %}

                    {% if fieldValue %}
                        {% set isDeletedField = 'deleted' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="edit-form">
            {% if isDeletedField %}
                <div class="edit-field form-group">
                    <legend>{{ 'admin.list.is_deleted'|trans }}</legend>
                    <div class="is-deleted-label">
                        <span class="badge edit {{ isDeletedField == 'deleted' ? 'badge-boolean-true' : 'badge-boolean-false' }}">
                            {{ (isDeletedField == 'deleted' ? 'label.true' : 'label.false')|trans({}, 'EasyAdminBundle')|upper }}
                        </span>
                    </div>
                </div>
            {% endif %}

            {% if timeField %}
                <div class="edit-field form-group">
                    <legend>{{ 'admin.list.reservations.time'|trans }}</legend>
                    <div class="form-control set-time-reservation">
                        {% if timeField and timeField != 'not_set' %}
                            {{ include('@EasyAdmin/crud/field/datetime.html.twig', { field: timeField, entity }, with_context = false) }}
                        {% elseif timeField == 'not_set' %}
                            {{ include('@EasyAdmin/label/null.html.twig', {}, with_context = false) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% block edit_form %}
                {{ form(edit_form) }}
            {% endblock edit_form %}
        <div>
    <div>

    {% set entityInstance = entity.getInstance() %}
    {% set can_undelete = entityInstance.setIsDeleted() is defined %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { can_undelete }, with_context = false) }}
    {% endblock delete_form %}

    {% if can_undelete and entityInstance.isDeleted() %}
        {% block undelete_form %}
            {{ include('@EasyAdmin/crud/includes/_undelete_form.html.twig', {}, with_context = false) }}
        {% endblock undelete_form %}
    {% endif %}

    {% if entity.getName() == 'Reservation' %}
        {% block set_time_form %}
            {{ include('@EasyAdmin/crud/includes/_set_time_form.html.twig', { set_time_form }, with_context = false) }}
        {% endblock set_time_form %}
    {% endif %}
{% endblock %}

