{% trans_default_domain 'api' %}

<h1>{{ 'mails.register_confirmation.header'|trans }}</h1>

<p>
    {{ 'mails.register_confirmation.content'|trans }}:<br><br>
    <a href="{{ signedUrl }}">{{ 'mails.register_confirmation.confirm_email'|trans }}</a>.
    {{ 'mails.register_confirmation.expires_in'|trans(expiresAtMessageData) }}.
</p>

<p>
    {{ 'mails.register_confirmation.cheers'|trans }}
</p>
