{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'app.title.register'|trans }}{% endblock %}

{% block body %}
    <h1 class="font-medium text-2xl pt-8 mb-3 md:mb-10 text-center">
        <img src="{{ asset('public/build/images/dronteh_logo.png') }}" alt="dronteh_logo" width="150px" class="mx-auto" />
        {{ 'app.register.header'|trans }}
    </h1>

    <div class="p-3">
        {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
            <div class="form-control">
                <i class="fa-solid fa-envelope fa-xl mr-1"></i>
                {% set form_errors = form_errors(registrationForm.email) %}
                {{ form_widget(registrationForm.email, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                {{ form_label(registrationForm.email) }}
                <div class="form-error">
                    {{ form_errors|raw }}
                </div>
            </div>
            <div class="form-row {{ app.request.getLocale == 'hu' ? '!flex-col-reverse md:!flex-row-reverse' }}">
                <div class="form-control">
                    <i class="fa-solid fa-user fa-xl mr-1"></i>
                    {% set form_errors = form_errors(registrationForm.firstname) %}
                    {{ form_widget(registrationForm.firstname, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                    {{ form_label(registrationForm.firstname) }}
                    <div class="form-error">
                        {{ form_errors|raw  }}
                    </div>
                </div>
                <div class="form-control">
                    <i class="fa-solid fa-user fa-xl mr-1"></i>
                    {% set form_errors = form_errors(registrationForm.lastname) %}
                    {{ form_widget(registrationForm.lastname, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                    {{ form_label(registrationForm.lastname) }}
                    <div class="form-error">
                        {{ form_errors|raw  }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <i class="fa-solid fa-lock fa-xl mr-1"></i>
                    {% set form_errors = form_errors(registrationForm.password.first) %}
                    {{ form_widget(registrationForm.password.first, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                    {{ form_label(registrationForm.password.first) }}
                    <div class="form-error">
                        {{ form_errors|raw  }}
                    </div>
                </div>
                <div class="form-control">
                    <i class="fa-solid fa-lock fa-xl mr-1"></i>
                    {% set form_errors = form_errors(registrationForm.password.second) %}
                    {{ form_widget(registrationForm.password.second, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                    {{ form_label(registrationForm.password.second) }}
                    <div class="form-error">
                        {{ form_errors|raw  }}
                    </div>
                </div>
            </div>
            <div class="form-control">
                <i class="fa-solid fa-phone fa-xl mr-1"></i>
                    {% set form_errors = form_errors(registrationForm.tel) %}
                {{ form_widget(registrationForm.tel, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                {{ form_label(registrationForm.tel) }}
                <div class="form-error">
                    {{ form_errors|raw  }}
                </div>
            </div>
            <div class="mb-10">
                <i class="fa-solid fa-earth-europe fa-xl mr-1"></i>
                {{ form_label(registrationForm.locale) }}
                {% set form_errors = form_errors(registrationForm.locale) %}
                {{ form_widget(registrationForm.locale, {'attr': {'class': form_errors ? '!border-red-500'}}) }}
                <div class="form-error">
                    {{ form_errors|raw  }}
                </div>
            </div>

            {% if form_errors(registrationForm) %}
                <div class="form-error mb-8">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary w-full">{{ 'app.register.sign_up'|trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
